@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Comic Book Detail";

}

<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>

<h5>Description:</h5>
<div>
    @Html.Raw(ViewBag.Descrtiption)
</div>
@if (ViewBag.Artists.Length > 0)
{
<h5>Artist:</h5>
    <div>
        <ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>@artist</li>
            }
        </ul>
    </div>
}
